<div class="page-group">
    <div id="financial" class="page page-current">
        <div class="content cAbout" style="bottom:0;">
            <div class="cBanner">
                <img src="static/views/center/src/images/aBanner.jpg" />
                <div class="cIntroduce">
                    <p>百万理财师通过发掘和培养优质理财师，专注为客户全行业优选优质理财产品，如互联网金融，私募基金，海外保险，海外资产配置等，致力于为客户的财富管理提供一站式综合解决方案。目前我们已为数千名中高净值客户的资产增值和财富传承提供了安全、高效、稳固的综合解决方案。</p>
                    <p class="vision"><span>愿景</span></p>
                    <p>打造百年财富管理平台</p>
                    <p><span>理想</span></p>
                    <p>打造高新科技财富管理团队</p>
                </div>
            </div>
            <div class="cTeam">
                <div class="cTeamTitle">
                    <h2>核心团队</h2>
                    <p class="clearfix cTeamSide"><i></i><i></i><i></i></p>
                </div>
                <div class="slideTeam">
                    <div class="clearfix aboutTeam">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="static/views/center/src/images/hl.jpg" class="imgAll">
                                    <h3>胡立</h3>
                                    <h4>百万理财师创始人</h4>
                                    <p class="bothAlign pCon">​专注为更多热爱生活的客户匹配优质资产和财富管理组合方案。</p>
                                </div>
                                <div class="swiper-slide">
                                    <img src="static/views/center/src/images/sb.jpg" class="imgAll">
                                    <h3>邵彬</h3>
                                    <h4>百万理财师联合创始人</h4>
                                    <p class="bothAlign pCon">毕业于云南财经大学金融学院金融工程专业。毕业后从事六年的企业管理咨询工作，熟悉国内电力行业、房地产行业、制造业、IT行业等多个行业的业务运转模式。​</p>
                                </div>
                                <div class="swiper-slide">
                                    <img src="static/views/center/src/images/wjc.jpg" class="imgAll">
                                    <h3>王继成</h3>
                                    <h4>百万理财师创始人</h4>
                                    <p class="bothAlign pCon">山西财经大学金融学本科。从事金融行业10年以上，有丰富的银行从业经验，历任支行行长、IT部经理、公司业务、风控等部门运营部总经理、银行高管​。</p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cAngel">
                <div class="cTeamTitle">
                    <h2>天使投资人</h2>
                    <p class="clearfix cTeamSide"><i></i><i></i><i></i></p>
                </div>
                <div>
                    <img src="static/views/center/src/images/angelImg.jpg" class="imgAll imgBorder">
                    <h3>侯彦卫</h3>
                    <p class="pCon bothAlign">全国青年联合会委员、中国青年企业家协会理事、上海财经大学校董、全国十大杰出青年提名奖。2008年6月14日在中南海怀仁堂受到胡锦涛主席亲切接见。</p>
                    <img src="static/views/center/src/images/angelImg02.png" class="imgAll imgBorder imgSmall">
                    <h3>云贝投资控股集团</h3>
                    <p class="pCon bothAlign">融合了大量以云计算、大数据为代表的互联网技术的新兴综合化金融服务集团。</p>
                </div>
            </div>
            <div class="cSpecial cWhite">
                <div class="cTeamTitle">
                    <h2>我们的特色</h2>
                    <p class="clearfix cTeamSide"><i></i><i></i><i></i></p>
                </div>
                <ul>
                    <li>1、产品丰富</li>
                    <li class="bothAlign">通过全行业筛选金融产品，如互联网金融、私募基金、海外保险、海外房产等产品， 帮助客户进行安全的资产配置。</li class="bothAlign">
                    <li>2、安全高效</li>
                    <li class="bothAlign">通过移动互联网技术，帮助投资人一键匹配优质理财师并定制财富管理方案。</li>
                    <li>3、五维鉴别法</li>
                    <li class="bothAlign">五维鉴别法：通过个人学历、从业经验、客户点评、信用累积、客户存量五个维度甄选优质理财师。</li>
                    <li>4、产品鉴别</li>
                    <li class="bothAlign">产品风控：对接象牙风控，风控委层层审批。</li>
                </ul>
            </div>
            <div class="cContact cWhite">
                <div class="cTeamTitle">
                    <h2>联系我们</h2>
                    <p class="clearfix cTeamSide"><i></i><i></i><i></i></p>
                </div>
                <a href="tel:02160451560" data-android-url="baoxiang://APPDial&phonenumber=tel:02160451560" class="hotline">客服热线  021-60451560</a>
                <div class="number">
                    <a class="clearfix">
                        <p><img src="static/views/center/src/images/aContact03.jpg"><span>服务号：Triwinbank2015</span></p>
                        <p><img src="static/views/center/src/images/aContact04.png"><span>长按二维码关注</span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
